*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

body{
    background-color: #000;
    text-align: center;
}
.body__div{
    flex-direction: column;
}
.header{

    width: 100%;    
    background-color: blue;
    flex-wrap: wrap;
    
}
.header__divh1{    
    flex-grow: 3;
    background-color: lightskyblue;    
    
}   

.header__nav{
    justify-content: center; 
    
}
.header__li{
    display: inline-block;
    list-style: none;
    width: 100px;
    height: 20px;
}
.header__li a{
    color: dimgray;
    text-align: right;
    
}
.aside{
    width: 100%;
    background-color: blueviolet;
    text-align: center;
}
.main{    
    width: 100%;
    background-color: brown;
    overflow: scroll;
    scroll-behavior: smooth;
}
.main__section{
    
    padding: 30px;
    width: 100%;
    height: 100%;
}
.sectOne{
    background-color: lightskyblue;
}
.secTwo{
    background-color: orange;
}
.sectThree{
    background-color: mediumturquoise;
}

.footer{
    width: 100%;
    
    background-color: cornflowerblue;
}
.footer__h2{
    margin-right: 300px;
}
@media screen and (min-width: 768px){    

    body{
        background-color: #0aA;
        text-align: center;
    }
    .body__div{
        display: grid;
        height: 100vh;    
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 100px repeat(5,1fr) 100px;
        

    }
    .header{
        grid-column: 1 /6 ;
        grid-row: 1 / 2; 
        height: 100%;       
    }
    .header__divh1{    
        
    }
    .header__h1{
        
    }
    .header__divnav{
            
    }
    .header__nav{

        
    }
    .header__li{
    }
    .header__li a{
        
    }
    .aside{
        grid-column: 5 / 6;
        grid-row: 2 / 7;
        height: 100%
        
    }
    .main{
        grid-column: 1 / 5;
        grid-row: 2 / 7;
        height: 100%
        
    }
    .main__section{

    }
    .footer{
        grid-column: 1 / 6;
        grid-row: 7 / 8;
        height: 100%
        
    }
}

@media only screen and (max-width: 575px){
    .footer__h2{
        margin-right: 0;
    }
}
